body {
    background-color: #36323b;
    color: #ffffff;
    font-family: 'Century Gothic', Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .container {
    text-align: center;
  }

  .app-name-menu {
    font-family: 'Century Gothic', Arial;
    font-size: 2em;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  /* Estilos específicos para la configuración de cuenta */
  .configuracion-container {
    width: 80%;
    max-width: 800px;
    margin-top: 50px;
  }

  .configuracion-title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .configuracion-form {
    display: grid;
    gap: 15px;
  }

  .configuracion-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ffff;
    color: black;
  }

  .configuracion-submit {
    background-color: #a27a94;
    color: #ffffff;
    font-family: 'Century Gothic', sans-serif;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .configuracion-submit:hover {
    background-color: #865e7d;
  }

  .back-container {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-top: 60px;
    /* Ajusta el valor según sea necesario */
  }
  
  .back-button {
    background-color: #36323b;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  .back-button img {
    width: 50px;
    /* ajusta el tamaño según sea necesario */
    height: auto;
  }
  
  .back-label {
    font-size: 1em;
    margin-left: 10px;
    font-family: 'Century Gothic', Arial;
  }