body {
  background-color: #36323b;
  color: #ffffff;
  font-family: 'Century Gothic', Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;

}

.container {
  text-align: center;
  max-width: 100%; /* Ancho máximo para adaptarse a diferentes tamaños de pantalla */
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.app-name {
  font-family: 'Century Gothic', Arial;
  font-size: 2.5em;
}

.logo {
  width: 150px;
  height: auto;
  margin: 20px 0;
}

.login-box {
  background-color: #a27a94;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form label {
  font-size: 14px;
  color: #555;
}

form input {
  padding: 8px;
  border: 1px solid #ccc;
}

button {
  background-color: #36323b;
  color: #ffffff;
  font-family: 'Century Gothic', sans-serif;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  margin: auto;
}

button:hover {
  background-color: #271835;
  font-family: 'Century Gothic', sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

button a {
  color: inherit;
  text-decoration: none;
}

.app-name-menu {
  font-family: 'Century Gothic', Arial;
  font-size: 2em;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 10px;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.menu-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.menu-button {
  background-color: #a27a94;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-button img {
  max-height: 100px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.menu-button h3 {
  font-size: 14px;
  margin-top: 5px;
  color: #ffffff;
}

.entrenar-button {
  background-color: #a27a94;
  color: #ffffff;
  font-family: 'Century Gothic', sans-serif;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.entrenar-button:hover {
  background-color: #a27a94;
}

/* Estilos para pantallas más pequeñas */
@media only screen and (max-width: 765px){
  .menu-buttons {
    padding: 0 20px; /* Agregar espaciado a los lados */
    flex-direction: unset;
    justify-content: space-around;
    flex-wrap: column;
  }

  .menu-row {
    flex-direction:column; /* Cambiar a una disposición de columna */
    align-items: center; /* Centrar los elementos */
  }

  .menu-button {
    width: 80%; /* Ajustar el ancho de los botones */
    max-width: 200px; /* Ancho máximo de los botones */
    margin: 10px 0; /* Espaciado entre botones */
    margin-bottom: 0;
    border-radius: 20px;
    flex-direction: column;
 }

}

