body {
    background-color: #36323b;
    color: #ffffff;
    font-family: 'Century Gothic', Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}
  
.app-name-menu {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
}
  
.calendar-container {
    margin-top: 20px;
}
  
.carousel-container {
  position: relative;
  max-width: 600px;
  /*overflow: hidden; /* Añadido para ocultar el desbordamiento */
  margin-top: 20px;
}

.carousel-item {
  display: none;  /* Todas las imágenes ocultas por defecto */
}

.carousel-item:first-child {
  display: block;  /* La primera imagen visible por defecto */
}

.carousel-item img {
  width: 100%;
  border-radius: 8px;
  max-height: 400px; /* Altura máxima ajustada según sea necesario */
  object-fit: cover; /* Para mantener la relación de aspecto */
  border-radius: 8px;
}

.carousel-item p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(54, 50, 59, 0.7);
  padding: 10px;
  margin: 0;
  font-size: 1em;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: #ffffff;
  background-color: #a27a94;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

/* Estilos para el cronómetro */
.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .timer-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .timer-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .timer button {
    background-color: #a27a94;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .timer button:hover {
    background-color: #7a567a;
  }
  
  .back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
  }
  
  .back-button img {
    width: 20px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-right: 5px; /* Espacio entre la imagen y el texto */
  }
  
  /* Estilos adicionales para el botón si lo necesitas */
  .back-button:hover {
    opacity: 0.7; /* Cambia la opacidad al pasar el cursor sobre el botón */
  }
  
  /* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
  .menu-buttons {
    padding: 0 20px; /* Agregar espaciado a los lados */
  }

  .menu-row {
    flex-direction: column; /* Cambiar a una disposición de columna */
    align-items: center; /* Centrar los elementos */
  }

  .menu-button {
    width: 80%; /* Ajustar el ancho de los botones */
    max-width: 200px; /* Ancho máximo de los botones */
    margin: 10px 0; /* Espaciado entre botones */
  }
}
